# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
react_todo_app1/build/
react_todo_app1/node_modules/
.idea/
__pycache__/
.env

/react_todo_app

